body {
    background-color: rgba(182, 210, 248, 0.733);
    text-align: center;
    color: rgb(5, 72, 83); ;
}

.cabecalho-ctrl {
    background-color: rgba(105, 165, 248, 0.575);
    padding: 1%;
}

.passador-ctrl-estoque {
        color: rgb(5, 72, 83);
        padding-top: 1%;
}

a {
    padding-left: 5%;
}
 td, th {
    padding: 2vw;
    border: 1px solid rgb(5, 72, 83) ;
  }
  
